import 'package:firebase_core/firebase_core.dart';

// Copy this file to api_keys.dart and fill in your actual API keys.
// Make sure api_keys.dart is in your .gitignore!

class ApiKeys {
  static const FirebaseOptions iosFirebaseOptions = FirebaseOptions(
    apiKey: 'YOUR_IOS_API_KEY',
    appId: '1:931227350417:ios:76bc34612723e33b071630',
    messagingSenderId: '931227350417',
    projectId: 'did-it-102b0',
    storageBucket: 'did-it-102b0.firebasestorage.app',
    iosBundleId: 'com.pooha302.didit',
  );

  static const FirebaseOptions androidFirebaseOptions = FirebaseOptions(
    apiKey: 'YOUR_ANDROID_API_KEY',
    appId: '1:931227350417:android:739a64b2f7a45dd4071630',
    messagingSenderId: '931227350417',
    projectId: 'did-it-102b0',
    storageBucket: 'did-it-102b0.firebasestorage.app',
  );
}
